body{
	  margin: 11px;
	}

.button{ 
  border: 1px solid #d9d9d9;
  padding: 7px 15px;
  cursor: pointer;
 }

 .content {
 	background:#f0f0f0;
 	margin: 8px;
 	padding: 50px;
 	display: none;
 }
 .content.is-active {
 	display: block;
 }